@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<h4>WHAT WE DO</h4>
<h5>Our Mission</h5>
<p>
    The South Franklin Community Center works to increase the quality of life in the South Franklin neighborhood by:
    <ul>
        <li>Providing access to programs that promote individual growth and achievement.</li>
        <li>Encouraging community participation and leadership.</li>
        <li>Offering opportunities for residents to become more invested and connected.</li>
    </ul>
    The South Franklin Community Center is a collaborative effort to help with the development of the South Franklin Neighborhood.  We rely heavily on volunteers and donors in order to operate.

    The Community Center provides numerous services and activities to achieve its goal of building community, encouraging residents to work together to enhance their lives and their surroundings.

    It is our goal to provide unique opportunities for both residents and volunteers to be involved in many different activities and classes.
</p>
