@{
    ViewBag.Title = "About South Franklin Community Center";
}
<h2>@ViewBag.Title</h2>
<h3>South Franklin Community Center</h3>

<p>Use this area to provide additional information.</p>
<div class="row" >
    <img src="https://utahvalley360.com/wp-content/uploads/2013/07/sfcc.jpg" style="width:inherit; float:left; width:50%; padding-right:50px"/>
        <h2>Our Vision</h2>
        <p>
            The South Franklin Community Center envisions a vibrant community in which
            families have resources, opportunity, and a feeling of community here in
            South Provo’s Boulders neighborhood.
        </p>
</div>
<div class="row">
    <h2>Our Mission</h2>
    <p>
        The South Franklin Community Center works to increase the quality of life in the
        South Franklin neighborhood by:
    </p>
    <ul>
        <li>Providing access to programs that promote individual growth and achievement.</li>
        <li>Encouraging community participation and leadership.</li>
        <li>Offering opportunities for residents to become more invested and connected.</li>
    </ul>
    <p>
        The South Franklin Community Center is a collaborative effort to help with the
        development of the South Franklin Neighborhood. We rely heavily on volunteers and donors in order to operate.
        <br />
        The Community Center provides numerous services and activities to achieve its goal of building community,
        encouraging residents to work together to enhance their lives and their surroundings.
        <br />It is our goal to provide unique opportunities for both residents and volunteers
        to be involved in many different activities and classes.
    </p>


</div>

