@{
    ViewBag.Title = "Home Page";
}

<div style="background-color:#9b8468; opacity:0.7" class="jumbotron">
    <h1 align="center"><font face="verdana">South Franklin Community Center</font></h1>
    <p class="lead" align="center">You can make a difference in someone's life today.</p>
    <p class="lead" align="center">Please consider volunteering with us.</p>
   <!--Call to Action button-->
    <center><button class="btn btn-danger"> Click Here to Volunteer Now! </button></center>
</div>
<hr />

<div class="row">
    <div class="col-md-5">
        <h2 align="center"><font face="Freestyle Script">"Spread love everywhere you go. Let no one ever come to you without leaving happier."</font></h2>
        <p align="right"> 
            -Mother Teresa
        </>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-6">
        <iframe width="420" height="315"
        allowfullscreen="allowfullscreen"
        mozallowfullscreen="mozallowfullscreen" 
        msallowfullscreen="msallowfullscreen" 
        oallowfullscreen="oallowfullscreen" 
        webkitallowfullscreen="webkitallowfullscreen" src="https://www.youtube.com/embed/JGZAVFHkfZ8" iframewidth="420" />
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <hr />
        <footer>
            <p>&copy; South Franklin Community Center</p>
        </footer>
    </div>
</div>