
@{
    ViewBag.Title = "Program";
}

<h2>Program</h2>
here are your parameters:
@{
    Viewbag.ProName;
    Viewbag.InternName;
    Viewbag.AgeGroup;
    Viewbag.WeekdayTime;
    Viewbag.ProDesc;
}

