
@{
    ViewBag.Title = "ProgramView";
}

<h2>ProgramView</h2>

here are your parameters:
@{/*
    Viewbag.ProName;
    Viewbag.InternName;
    Viewbag.AgeGroup;
    Viewbag.WeekdayTime;
    Viewbag.ProDesc;*/
}
